.course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

@media screen and (max-width : 776px){
    .course{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 576px){
    .course{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}